.main-screen {
    padding-top: 180px;
    background-image: url('../images/home/dy-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    overflow-x: hidden;
    flex-grow: 1;

    &::before {
        content: "";
        position: absolute;
        background-image: url('../images/icon/main-screen-top-vector.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        width: 100%;
        height: 220px;
        top: 0;
    }

    .subtitle {
        @include subtitle;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.03em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        @include title;
        font-size: 70px;
        line-height: 110%;
        margin-top: 90px;
        margin-bottom: 60px;

        .accent {
            color: #FAFF00;
        }
    }

    .btns-group {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .btn-link {
        @include btn-link;
    }

    .btn-link--icon {
        .link-text {
            position: relative;
            padding-left: 22px;

            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-style: solid;
                border-width: 12px 6px 0 6px;
                border-color: #FAFF00 transparent transparent transparent;
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
            }
        }
    }

    .btn-link--border-reverse {
        border-radius: 0 20px;

        &:hover {
            box-shadow: -2px 2px 2px #FAFF00;
            transform: translate(2px, -2px);
        }
    }

    .main-screen__descript {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.4);
        padding: 40px 0;
        margin-top: 140px;
        border-top: 1px solid #FFFFFF4D;
        border-bottom: 1px solid #FFFFFF4D;

        .descript-text {
            max-width: 428px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.quotes {
    padding-top: 220px;

    &__container {
        display: flex;
        position: relative;
        background-image: url('../images/home/quotes/image-group.png');
        background-repeat: no-repeat;
        background-position: right 52px;
        background-size: auto;
        margin-left: 85px;
        padding-bottom: 274px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__content {
        margin-right: 35px;
        margin-left: 90px;
        margin-top: 140px;
        margin-bottom: 180px;
    }

    &__text {
        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        color: var(--cs-white);
        max-width: 620px;
        margin-top: 0;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/icon/quotes-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 115px;
            height: 90px;
            left: -75px;
            top: -30px;
        }
    }

    &__author {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #717485;
    }

    .open-video {
        margin-bottom: auto;

        .icon path {
            transition: fill ease-in-out .4s;
        }

        &:hover {
            .icon path {
                fill: #007FB5;
            }
        }
    }
}

.events {
    position: relative;

    .subtitle {
        @include subtitle;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .title {
        @include title;   
    }

    &__titles {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #FAFF00;
            bottom: 0;
            left: 0;
            width: 150px;
        }
    }

    .link {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: var(--cs-white);
        transition: all ease-in-out .4s;

        &:hover {
            color: #007FB5;
        }
    }

    &__controll {
        display: flex;
        gap: 20px;
    }

    .controlls-group {
        @include flex-v-center;
        gap: 20px;
    }

    &__slider-btns {
        position: static;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(125px);

        &::after {
            font-size: 12px;
            color: var(--cs-white);
        }
    }

    &__slider {
        padding-top: 40px;
        padding-bottom: 120px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(270deg, #161824 0%, rgba(22, 24, 36, 0) 100%);
            width: 150px;
            height: 380px;
            right: -10px;
            z-index: 11;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        color: #161824;
        background: #FAFF00;
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(125px);
        border-radius: 20px 0;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .image-box {
        position: relative;
        overflow: hidden;

        .image {
            border-radius: 20px 0;
            display: block;
            transition: transform ease-in-out .4s;
        }

        &:hover {
            .image {
                transform: scale(1.1);
            }
        }
    }

    &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        color: #717485;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: var(--cs-white);
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &__info {
        .amount {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            text-transform: uppercase;
            color: #717485;
            padding-left: 20px;
            position: relative;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .likes-amount {
            &::before {
                background-image: url('../images/icon/likes.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 15px;
                height: 12px;
            }
        }
        .comments-amount {
            &::before {
                background-image: url('../images/icon/comments.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 16px;
                height: 16px;
            }
        }
        .shares-amount {
            &::before {
                background-image: url('../images/icon/share.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 13px;
                height: 13px;
            }
        }
    }
}

.quotes-section {
    padding-top: 80px;
    padding-bottom: 20px;

    &__container {
        @include flex-all-center;
        flex-direction: column;
    }

    &__title {
        @include title;
        font-size: 28px;
        line-height: 150%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;

        .accent {
            color: #FAFF00;
        }
    }

    &__author {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-align: right;
        color: #717485;
    }
}

.large-video-block {
    background-image: url('../images/home/large-image.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 800px;
    position: relative;

    .open-video {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(125px);
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - -50px);
        transition: transform ease-in-out .4s;

        svg path {
            transition: fill ease-in-out .4s;
        }

        &:hover {
            transform: scale(1.1);

            svg path {
                fill: #007FB5;
            }
        }
    }
}

.achievements {
    margin-top: 120px;
    padding-bottom: 60px;
    background-image: url('../images/home/achievements/achievements-image.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;

    &__container {
        max-width: 780px;
        padding-top: 186px;
        padding-bottom: 226px;
    }

    .subtitle {
        @include subtitle;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .title {
        @include title;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #FAFF00;
            bottom: 0;
            left: 0;
            width: 150px;
        }
    }

    &__list {
        margin: 60px 0;
        
        li {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: var(--cs-white);
            padding-left: 25px;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #717485;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .btn-link {
        @include btn-link;
    }

    .btn-link--icon {
        .link-text {
            position: relative;
            padding-left: 22px;

            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-style: solid;
                border-width: 12px 6px 0 6px;
                border-color: #FAFF00 transparent transparent transparent;
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
            }
        }
    }

    &__awards-wrap {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(270deg, #161824 0%, rgba(22, 24, 36, 0) 100%);
            width: 150px;
            height: 150px;
            right: -10px;
            z-index: 11;
        }
    }

    &__awards {
        @include flex-v-center;
        gap: 25px;
        overflow-y: auto;

        li {
            background: rgba(255, 255, 255, 0.02);
            backdrop-filter: blur(125px);
            border-radius: 20px 0px;
            padding: 30px 40px;
            @include flex-v-center;      
            min-width: 300px;      

            span {
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                color: rgba(113, 116, 133, 0.3);
                margin-left: 15px;
            }
        }
    }
}

.gallery {
    padding-top: 60px;
    padding-bottom: 120px;
    
    &__container {
        position: relative;
    }

    &__slider {
        padding-bottom: 70px;

        .swiper-wrapper {
            align-items: flex-end;
        }
        .swiper-slide {
            position: relative;
            transition: all ease-in-out .4s;

            &::before {
                content: "";
                transition: all ease-in-out .4s;
            }
        }
        .swiper-slide:not(.swiper-slide-active) {
            max-width: 400px;
            height: 608px;
    
            .image {
                max-width: 400px;
                height: 608px;
            }
    
            &::before {
                position: absolute;
                background: linear-gradient(0deg, rgba(22, 24, 36, 0.8), rgba(22, 24, 36, 0.8));
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

        .swiper-slide.swiper-slide-active {
            min-width: 526px;

            .gallery__info {
                bottom: -60px;
                z-index: 1;
            }
        }
    }
    &__slider-btns {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(125px);

        &::after {
            font-size: 12px;
            color: var(--cs-white);
        }
    }
    &__slider-btns.swiper-button-prev {
        left: -25px;
    }
    &__slider-btns.swiper-button-next {
        right: -25px;
    }
    &__info {
        position: absolute;
        bottom: 40px;
        padding-left: 24px;
        border-left: 1px solid #FAFF00;
        transition: all ease-in-out .4s;
        z-index: -1;
    }
    &__date {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        color: #717485;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: var(--cs-white);
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.live {
    padding-top: 200px;
    padding-bottom: 200px;
    background: url('../images/home/live/live-dy.png') no-repeat right bottom/auto, url('../images/home/live/live-bg-2.jpg') no-repeat center/cover;

    &__container {
        max-width: 620px;
    }

    .subtitle {
        @include subtitle;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        @include title;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;
        margin-top: 50px;
        margin-bottom: 60px;

        &::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #FAFF00;
            bottom: 0;
            left: 0;
            width: 150px;
        }

        &__text {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-color: #DC1F1F;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                right: -16px;
                top: 0;
            }
        }
    }

    .descript {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #717485;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 530px;
    }

    .btn-link {
        @include btn-link;
        cursor: pointer;
        margin-top: 60px;
    }

    .btn-link--icon {
        .link-text {
            position: relative;
            padding-left: 22px;

            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-style: solid;
                border-width: 12px 6px 0 6px;
                border-color: #FAFF00 transparent transparent transparent;
                left: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
            }
        }
    }

    .form {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 520px;

        &__label {
            @include flex-v-center;
        }

        &__amount {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.04);
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }

        &__input {
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 15px;
            width: 100%;
            color: var(--cs-white);

            &::placeholder {
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                text-transform: uppercase;
                color: #717485;
            }

            &:focus {
                outline: none;
                border-bottom: 1px solid #FAFF00;
            }
        }

        &__input--date {
            position: relative;
            padding-left: 32px;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                left: 0;
                background: url('../images/icon/calendar.svg') no-repeat center/contain;
                cursor: pointer;
            }
        }
    }
}

.shop {
    padding-top: 120px;
    padding-bottom: 90px;

    .subtitle {
        @include subtitle;
        margin-top: 0;
        margin-bottom: 60px;
    }

    .title {
        @include title;   
    }

    &__titles {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #FAFF00;
            bottom: 0;
            left: 0;
            width: 150px;
        }
    }

    .link {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: var(--cs-white);
        transition: all ease-in-out .4s;

        &:hover {
            color: #007FB5;
        }
    }

    &__controll {
        display: flex;
        gap: 20px;
    }

    .controlls-group {
        @include flex-v-center;
        gap: 20px;
    }

    &__slider-btns {
        position: static;
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(125px);

        &::after {
            font-size: 12px;
            color: var(--cs-white);
        }
    }

    &__slider {
        padding-top: 60px;
        position: relative;
    }

    &__label {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;
        color: #161824;
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(125px);
        border-radius: 20px 0;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__label.new {
        background: #FAFF00;
    }

    &__label.sale {
        color: var(--cs-white);
        background: #DC1F1F;
    }

    .image-box {
        position: relative;
        overflow: hidden;

        .image {
            border-radius: 20px 0;
            display: block;
            transition: transform ease-in-out .4s;
        }

        &:hover {
            .image {
                transform: scale(1.1);
            }
        }
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        color: #717485;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: var(--cs-white);
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.banner {
    background-color: #FAFF00;
    padding: 7px 0;
    position: relative;
    overflow: hidden;
    display: flex;

    .banner__image {
        display: block;
        animation: scrollRunning 10s infinite linear;
    }
}