<footer class="footer sidebar-space">
    <div class="wrapper">
        <div class="footer__container">
            <strong class="copyright">
                © All rights reserved.2022. DAYANA yastremskaya 
            </strong>
            <div class="footer__links">
                <ul>
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Terms of service
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Cookies Policy
                        </a>
                    </li>
                </ul>
            </div>
            <butto type="button" class="scroll-top">
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7L6.5 2L1 7" stroke="white" stroke-width="1.5"/>
                </svg>                    
            </butto>
        </div>
    </div>
</footer>