<section class="main-screen sidebar-space">
    <div class="wrapper">
        <div class="main-screen__container">
            <h2 class="subtitle">
                Hello!
            </h2>
            <h1 class="title">
                <div class="accent">My name</div> DAYANA<br> yastremskaya
            </h1>
            <div class="btns-group">
                <a class="btn-link btn-link--icon" href="#">
                    <span class="link-text">
                        Get a workout
                    </span>
                </a>
                <a class="btn-link btn-link--border-reverse" href="#">
                    Current events
                </a>
            </div>
        </div>
    </div>
    <div class="main-screen__descript">
        <p class="descript-text">
            Non, lacus, netus risus vel, est ut congue odio est. 
            Faucibus in leo lectus porta facilisi elementum, nibh. 
            Arcu augue eget id morbi at dolor lacus eleifend.
        </p>
    </div>
</section>
<section class="quotes sidebar-space">
    <div class="wrapper">
        <div class="quotes__container">
            <div class="quotes__images">
                <img src="images/home/quotes/image-top.png" alt="dy">
                <img src="images/home/quotes/image-bottom.png" alt="dy">
            </div>
            <div class="quotes__content">
                <p class="quotes__text">
                    The saving grace in our world is sport, where the flag of 
                    optimism still flies, where rules are followed and opponents 
                    are respected, no matter who wins.
                </p>
                <span class="quotes__author">
                    John Galsworthy
                </span>
            </div>
            <button class="btn-reset open-video" data-graph-path="quotes-video">
                <svg class="icon" width="126" height="126" viewbox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="63" cy="63" r="62.5" stroke="url(#paint0_linear_52_5338)" stroke-opacity="0.3"/>
                    <g filter="url(#filter0_b_52_5338)">
                    <circle cx="63" cy="63" r="50" fill="white" fill-opacity="0.04"/>
                    </g>
                    <path d="M74 61.7494C75.3333 62.5192 75.3333 64.4437 74 65.2135L59.7779 73.4246C58.4445 74.1944 56.7779 73.2322 56.7779 71.6926L56.7779 55.2703C56.7779 53.7307 58.4445 52.7684 59.7779 53.5382L74 61.7494Z" fill="white"/>
                    <defs>
                    <filter id="filter0_b_52_5338" x="-237" y="-237" width="600" height="600" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feGaussianBlur in="BackgroundImageFix" stdDeviation="125"/>
                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_52_5338"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_52_5338" result="shape"/>
                    </filter>
                    <linearGradient id="paint0_linear_52_5338" x1="63" y1="0" x2="63" y2="126" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#FAFF00"/>
                    <stop offset="1" stop-color="#2CB4F0"/>
                    </linearGradient>
                    </defs>
                </svg>                    
            </button>
        </div>
    </div>
</section>
<section class="events sidebar-space">
    <div class="wrapper">
        <div class="events__container">
            <div class="events__titles">
                <div class="titles">
                    <h3 class="subtitle">
                        what awaits you
                    </h3>
                    <h2 class="title">
                        current events
                    </h2>
                </div>
                <div class="events__controll">
                    <a href="#" class="link">
                        All events
                    </a>
                    <div class="controlls-group">
                        <div class="swiper-button-prev events__slider-btns"></div>
                        <div class="swiper-button-next events__slider-btns"></div>
                    </div>
                </div>
            </div>
            <div class="swiper events__slider">
              <div class="swiper-wrapper">
                 <div class="swiper-slide">
                    <a href="#" class="events__link">
                        <div class="image-box">
                            <picture>
                                <source srcset="images/home/events/event-1.avif" type="image/avif">
                                <source srcset="images/home/events/event-1.webp" type="image/webp">
                                <img loading="lazy" src="images/home/events/event-1.jpg" class="image" alt="Name of current event">
                            </picture>
                        </div>
                        <span class="events__date">
                            10 / 08 / 2022
                        </span>
                        <h3 class="events__title">
                            Name of current event
                        </h3>
                        <div class="events__info">
                            <span class="amount likes-amount">56</span>
                            <span class="amount comments-amount">12</span>
                            <span class="amount shares-amount">12</span>
                        </div>
                    </a>
                 </div>
                 <div class="swiper-slide">
                    <a href="#" class="events__link">
                        <div class="image-box">
                            <picture>
                                <source srcset="images/home/events/event-2.avif" type="image/avif">
                                <source srcset="images/home/events/event-2.webp" type="image/webp">
                                <img loading="lazy" src="images/home/events/event-2.jpg" class="image" alt="Name of current event">
                            </picture>
                            <span class="events__label new">
                                new
                            </span>
                        </div>
                        <span class="events__date">
                            10 / 08 / 2022
                        </span>
                        <h3 class="events__title">
                            Name of current event
                        </h3>
                        <div class="events__info">
                            <span class="amount likes-amount">56</span>
                            <span class="amount comments-amount">12</span>
                            <span class="amount shares-amount">12</span>
                        </div>
                    </a>
                 </div>
                 <div class="swiper-slide">
                    <a href="#" class="events__link">
                        <div class="image-box">
                            <picture>
                                <source srcset="images/home/events/event-3.avif" type="image/avif">
                                <source srcset="images/home/events/event-3.webp" type="image/webp">
                                <img loading="lazy" src="images/home/events/event-3.jpg" class="image" alt="Name of current event">
                            </picture>
                        </div>
                        <span class="events__date">
                            10 / 08 / 2022
                        </span>
                        <h3 class="events__title">
                            Name of current event
                        </h3>
                        <div class="events__info">
                            <span class="amount likes-amount">56</span>
                            <span class="amount comments-amount">12</span>
                            <span class="amount shares-amount">12</span>
                        </div>
                    </a>
                 </div>
                 <div class="swiper-slide">
                    <a href="#" class="events__link">
                        <div class="image-box">
                            <picture>
                                <source srcset="images/home/events/event-4.avif" type="image/avif">
                                <source srcset="images/home/events/event-4.webp" type="image/webp">
                                <img loading="lazy" src="images/home/events/event-4.jpg" class="image" alt="Name of current event">
                            </picture>
                        </div>
                        <span class="events__date">
                            10 / 08 / 2022
                        </span>
                        <h3 class="events__title">
                            Name of current event
                        </h3>
                        <div class="events__info">
                            <span class="amount likes-amount">56</span>
                            <span class="amount comments-amount">12</span>
                            <span class="amount shares-amount">12</span>
                        </div>
                    </a>
                 </div>
                 <div class="swiper-slide">
                    <a href="#" class="events__link">
                        <div class="image-box">
                            <picture>
                                <source srcset="images/home/events/event-1.avif" type="image/avif">
                                <source srcset="images/home/events/event-1.webp" type="image/webp">
                                <img loading="lazy" src="images/home/events/event-1.jpg" class="image" alt="Name of current event">
                            </picture>
                        </div>
                        <span class="events__date">
                            10 / 08 / 2022
                        </span>
                        <h3 class="events__title">
                            Name of current event
                        </h3>
                        <div class="events__info">
                            <span class="amount likes-amount">56</span>
                            <span class="amount comments-amount">12</span>
                            <span class="amount shares-amount">12</span>
                        </div>
                    </a>
                 </div>
              </div>
            </div>
        </div>
    </div>
</section>