<div class="overlay" data-menu-overlay data-menu>
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="images/icon/logo.svg" alt="DY with love">
        </a>
        <nav class="menu">
            <ul>
                <li class="active">
                    <a href="#">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#">
                        Current events
                    </a>
                </li>
                <li>
                    <a href="#">
                        Achievements
                    </a>
                </li>
                <li>
                    <a href="#">
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="#">
                        Live workout
                    </a>
                </li>
                <li>
                    <a href="#">
                        Shop
                    </a>
                </li>
            </ul>
            <a href="#" class="btn-link">
                Log in
            </a>
        </nav>
        <div class="socials">
            <span class="socials__title">
                Follow me:
            </span>
            <div class="socials__wrap">
                <a href="#" class="socials__link" target="_blank">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#instagram"></use>
                    </svg>
                </a>
                <a href="#" class="socials__link" target="_blank">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#facebook"></use>
                    </svg>
                </a>
                <a href="#" class="socials__link" target="_blank">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="#" class="socials__link" target="_blank">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#linkedin"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>