@include tablet {
    .header {
        display: flex;

        .burger {
            display: flex;
        }
    }
}

@include mobile {
    .header {
        position: sticky;
        z-index: 11;
    }
}
