@include large-desktop {
    .sidebar-space {
        padding-left: 300px;
    }
    .achievements {
        background-size: 600px;

        &__container {
            max-width: 500px;
            padding-bottom: 80px;
        }
    }
    .live {
        padding-top: 150px;
        padding-bottom: 150px;
        background: url('../images/home/live/live-dy.png') no-repeat right bottom/600px, 
            url('../images/home/live/live-bg-2.jpg') no-repeat center/cover;

        &__container {
            max-width: 500px;
        }
    }
}

@include big-desktop {
    .main-screen {
        &__descript {
            margin-top: 40px;
        }

        .subtitle {
            font-size: 24px;
            line-height: 28px;
        }

        .title {
            font-size: 50px;
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }
    .quotes {
        padding-top: 120px;

        &__container {
            margin-left: 0;
            padding-bottom: 174px;
        }

        &__content {
            margin-left: 0;
        }

        &__text {
            max-width: 500px;
        }
    }
    .large-video-block {
        height: 600px;
    }
    .achievements {
        background-size: 400px;

        &__container {
            padding-top: 0;
        }
    }
    .gallery {
        &__slider {
            z-index: 0;

            .swiper-slide:not(.swiper-slide-active) {
                height: 508px;
        
                .image {
                    height: 508px;
                }
            }
    
            .swiper-slide.swiper-slide-active {
                min-width: 426px;
            }
        }
    }
    .live {
        background: url('../images/home/live/live-dy.png') no-repeat right bottom/500px, 
            url('../images/home/live/live-bg-2.jpg') no-repeat center/cover;
    }
}

@include small-desktop {
    .main-screen {
        padding-top: 100px;

        .title {
            font-size: 40px;
        }
    }
    .quotes {
        &__container {
            padding-bottom: 100px;
            background-position: right 200px;
            background-size: 350px;
        }
    }
    .events {
        .title {
            font-size: 40px;
        }
    }
    .quotes-section {
        &__title {
            br {
                display: none;
            }
        }
    }
    .achievements {
        &__container {
            max-width: 400px;
        }
        .title {
            font-size: 40px;
        }
    }
    .live {
        padding-top: 120px;
        padding-bottom: 120px;
        background: url('../images/home/live/live-dy.png') no-repeat right bottom/450px, 
            url('../images/home/live/live-bg-2.jpg') no-repeat center/cover;

        .title {
            font-size: 40px;
        }

        &__container {
            max-width: 400px;
        }
    }
    .shop {
        .subtitle {
            margin-bottom: 50px;
        }
        .title {
            font-size: 40px;
        }
    }
}

@include tablet {
    .sidebar-space {
        padding-left: 0;

        .wrapper {
            margin-left: auto;
        }
    }
    .main-screen {
        &__descript {
            .descript-text {
                margin: 0 25px;
            }
        }
    }
    .quotes {
        &__content {
            margin-right: 15px;
        }
        .open-video {
            margin-bottom: 100px;
        }
    }
    .events {
        .subtitle {
            margin-bottom: 50px;
        }
        &__slider {
            z-index: 0;
        }
    }
    .main {
        padding-top: 78px;
    }
    .large-video-block {
        .open-video {
            top: calc(50% - 100px);
            left: calc(50% + -50px);
        }
    }
    .dis-scroll {
        .gallery {
            &__slider-btns {
                z-index: 0;
            }
        }
    }
    .live {
        background: url('../images/home/live/live-dy.png') no-repeat right bottom/650px, 
            url('../images/home/live/live-bg-2.jpg') no-repeat center/cover;
    }
}

@include middle-tablet {
    .live {
        background: url('../images/home/live/live-dy.png') no-repeat right bottom/450px, 
            url('../images/home/live/live-bg-2.jpg') no-repeat center/cover;
    }
}


@include small-tablet {
    .main-screen {
        padding-top: 50px;

        .title {
            font-size: 35px;
            margin-top: 30px;
        }

        &__descript {
            margin-top: 20px;
            padding: 20px 0;
        }
    }
    .quotes {
        padding-bottom: 120px;

        &__container {
            padding-bottom: 160px;
            flex-direction: column;
            background-position: bottom;
            background-size: 325px;
        }

        &__images {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 115px;
        }

        &__content {
            margin-top: 70px;
            margin-bottom: 50px;
            margin-left: auto;
        }
        
        .open-video {
            margin-bottom: 120px;
            margin-right: 130px;
        }
    }
    .events {
        .title {
            font-size: 35px;
        }
    }
    .quotes-section {
        padding: 60px 0;

        &__title {
            font-size: 24px;
            margin-bottom: 40px;
        }
    }
    .large-video-block {
        background-position: center;
        height: 400px;
    }
    .achievements {
        background-size: 325px;

        &__container {
            padding-bottom: 20px;
            max-width: 325px;
        }
        .subtitle {
            margin-bottom: 50px;
        }
        .title {
            font-size: 35px;
        }
    }
    .gallery {
        &__container {
            max-width: 325px;
            margin: 0 auto;
        }
        &__slider {
            .swiper-slide {
                &::before {
                    content: none;
                }
            }
            .swiper-slide:not(.swiper-slide-active) {
                height: 435px;

                &::before {
                    content: none;
                }
        
                .image {
                    height: 435px;
                    max-width: 325px;
                }
            }
    
            .swiper-slide.swiper-slide-active {
                min-width: inherit;
                max-width: 325px;
                max-height: 435px;

                .image {
                    max-height: 435px;
                    min-width: 325px;
                }
            }
        }
    }
    .live {
        padding-bottom: 400px;

        &__container {
            margin: 0 auto;
            max-width: inherit;
        }

        .title {
            font-size: 35px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .form {
            max-width: inherit;
        }

        .btn-link {
            margin-top: 20px;
        }
    }
    .shop {
        .title {
            font-size: 35px;
        }
    }
}


@include mobile {
    .main-screen {
        background-image: url('../images/home/dy-bg-mob.jpg');
        background-position: center top;
        background-size: auto;
        padding-top: 400px;

        &::before {
            content: none;
        }

        &__descript {
            display: none;
        }

        &__container {
            text-align: center;
        }

        .subtitle {
            font-size: 22px;
            line-height: 25px;
        }

        .title {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btns-group {
            flex-direction: column;
            gap: 10px;
        }
    }   
    .quotes {
        padding-top: 150px;

        &__content {
            margin-right: auto;
            padding-left: 76px;
        }
        &__text {
            max-width: 260px;
        }
        
        &__images {
            img:first-child {
                margin-top: -45px;
            }
        }
    }
    .events {
        &__titles {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 0;
            border-bottom: 0;

            &::before {
                content: none;
            }

            .titles {
                width: 100%;
            }
        }

        .subtitle {
            margin-bottom: 40px;

        }
        .title {
            font-size: 25px;
            margin-bottom: 40px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            position: relative;
    
            &::before {
                content: "";
                position: absolute;
                border-bottom: 1px solid #FAFF00;
                bottom: 0;
                left: 0;
                width: 150px;
            }
        }
        &__controll {
            justify-content: space-between;
            width: 100%;
        }

        &__slider {
            padding-top: 20px;
            padding-bottom: 60px;
            
            .swiper-slide {
                max-width: 300px;
            }

            &-btns {
                z-index: 0;
            }
        }
    }
    .quotes-section {
        &__title {
            font-size: 22px;
        }
    }
    .large-video-block {
        height: 375px;
    }
    .achievements {
        background-image: none;
        margin-top: 50px;

        &__container {
            max-width: inherit;
            padding-bottom: 0;
            margin-bottom: 60px;
        }

        .subtitle {
            margin-bottom: 40px;
        }

        .title {
            font-size: 25px;
        }

        &__list {
            margin: 40px 0;
        }

        &__mob-image {
            display: block;
            margin-bottom: 40px;
        }

        &__awards-wrap {
            &::before {
                content: none;
            }
        }
    }
    .live {
        padding-bottom: 450px;
        backdrop-filter: blur(125px);
        background: rgba(255, 255, 255, 0.02) url('../images/home/live/live-dy-mob.png') no-repeat bottom center/contain;

        .title {
            font-size: 25px;
            margin-bottom: 40px;
        }

        .btn-link {
            margin-top: 40px;
        }
    }
    .shop {
        padding-bottom: 60px;

        &__titles {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 0;
            border-bottom: 0;

            &::before {
                content: none;
            }

            .titles {
                width: 100%;
            }
        }

        .subtitle {
            margin-bottom: 40px;
        }

        .title {
            font-size: 25px;
            margin-bottom: 40px;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            position: relative;
    
            &::before {
                content: "";
                position: absolute;
                border-bottom: 1px solid #FAFF00;
                bottom: 0;
                left: 0;
                width: 150px;
            }
        }
        &__controll {
            justify-content: space-between;
            width: 100%;
        }

        &__slider {
            z-index: 0;
            
            &-btns {
                z-index: 0;
            }
        }
    }
}

@include small-mobile {
    .quotes {
        &__images {
            gap: 50px;
        }
    }
    .live {
        background: rgba(255, 255, 255, 0.02) url('../images/home/live/live-dy-mob.png') no-repeat bottom center/auto;
        padding-bottom: 380px;
    }
}