@include tablet {
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        visibility: hidden;
    }

    .sidebar {
        left: -100%;
        transition: all ease-in-out .4s;
    }

    .overlay.menu--active {
        visibility: visible;
    }
}

@include mobile {
    .sidebar {
        background-image: url('../images/home/sidebar-bg-mob.jpg');
        padding-top: 200px;
        max-width: inherit;
        top: -100%;
        left: inherit;

        .logo {
            display: none;
        }

        .menu {
            .btn-link {
                min-width: 130px;
                padding: 10px;
            }
        }
    }
    .overlay.menu--active {
        .sidebar {
            top: 0;
            left: inherit;
        }
    }
}